/* action buttons */

#query-builder .basic-expression>.actions {
  font-size: 0;
  /* transform: translate(-100%, -50%); */
  left: calc(100% + var(--action-btn-size) - var(--action-btn-padding));
}

#query-builder .basic-expression>.actions>div>.action-btn,
#query-builder .basic-expression>.actions>.action-btn {
  /* for both wrap and delete button */
  transform: translateX(calc(-100% - 100%)) translateY(-50%) !important;
}

#query-builder .basic-expression>.actions>.action-btn:only-child {
  /* if wrap button hidden */
  transform: translateX(calc(-100%)) translateY(-50%) !important;
}

/* syntax components */

#query-builder .query-simple>code.delims,
#query-builder .expression-wrap>code.delims {
  font-size: 2.5rem;
}

#query-builder .expression-list>code.delims,
#query-builder .within-clause>code.keyword,
#query-builder .quantifier code.keyword {
  font-size: 1.5rem;
}

/* background colors to visualize blocks */
/* TODO: adjust later, maybe only for dark mode? */

#query-builder.fcs-query .block {
  background-color: var(--bs-body-bg);
}

#query-builder .block.query {
  background-color: var(--bs-gray-100);
}

#query-builder .block.expression-wrap,
#query-builder .block.query-simple {
  background-color: rgba(0, 155, 255, 0.05);
  background-color: var(--bs-gray-200);
}

#query-builder .block.input-block {
  background-color: rgba(200, 0, 0, 0.2);
  background-color: var(--bs-gray-100);
}

@media (prefers-color-scheme: dark) {
  #query-builder .block.query {
    background-color: var(--bs-gray-900);
  }

  #query-builder .block.expression-wrap,
  #query-builder .block.query-simple {
    background-color: rgba(0, 155, 255, 0.05);
    background-color: var(--bs-gray-800);
  }

  #query-builder .block.input-block {
    background-color: rgba(200, 0, 0, 0.2);
    /* background-color: var(--bs-gray-900); */
  }
}


