#query-builder {
  --action-btn-size: 0.9rem;
  --action-btn-padding: 0.25rem;
}

/* icons */

#query-builder .action-btn:has(i>svg.bi) {
  white-space: nowrap;

  display: inline-grid;
  grid-area: content;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  /* width: calc(var(--action-btn-size) + 0.1rem); */
  /* height: calc(var(--action-btn-size) + 0.1rem); */

  padding: var(--action-btn-padding);
}

#query-builder .action-btn>i:has(svg.bi) {
  font-size: 1em;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;

  height: var(--action-btn-size);
  width: var(--action-btn-size);
  min-width: var(--action-btn-size);
  min-height: var(--action-btn-size);
  line-height: 1;
  /* text-indent: 0; */

  /* font-feature-settings: "liga"; */
  /* letter-spacing: normal; */
  /* position: relative; */
  -webkit-user-select: none;
  user-select: none;
}

#query-builder .action-btn>i>svg.bi {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

/* remove dropdown arrow key suffix */

#query-builder .dropdown-toggle.no-arrow::after {
  display: none;
}

/* action buttons */

#query-builder .action-btn {
  --bs-link-color: var(--bs-body-color);
  --bs-btn-bg: rgba(var(--bs-body-bg-rgb), 0.7);
  --bs-btn-hover-bg: rgb(var(--bs-body-bg-rgb));
}

#query-builder .basic-expression>.actions {
  font-size: 0;
  /* transform: translate(-100%, -50%); */
  left: calc(100% + var(--action-btn-size) - var(--action-btn-padding));
}

/* "fix" action buttons translate-middle for popper.js */

#query-builder .translate-middle:has(>.action-btn) {
  transform: unset !important;
}

#query-builder .translate-middle>.action-btn {
  /* p-1 == 0.25rem */
  transform: translateX(calc(-50% - 0.25rem)) translateY(calc(-50% - 0.25rem)) !important;
}

#query-builder .basic-expression>.actions>div>.action-btn,
#query-builder .basic-expression>.actions>.action-btn {
  /* for both wrap and delete button */
  transform: translateX(calc(-100% - 100%)) translateY(-50%) !important;
}

#query-builder .basic-expression>.actions>.action-btn:only-child {
  /* if wrap button hidden */
  transform: translateX(calc(-100%)) translateY(-50%) !important;
}

/* syntax components */

#query-builder .query-simple>code.delims,
#query-builder .expression-wrap>code.delims {
  font-size: 2.5rem;
}

#query-builder .expression-list>code.delims,
#query-builder .within-clause>code.keyword,
#query-builder .quantifier code.keyword {
  font-size: 1.5rem;
}

/* background colors to visualize blocks */
/* TODO: adjust later, maybe only for dark mode? */

#query-builder .block {
  background-color: var(--bs-body-bg);
}

#query-builder .block.query {
  background-color: var(--bs-gray-100);
}

#query-builder .block.expression-wrap,
#query-builder .block.query-simple {
  background-color: rgba(0, 155, 255, 0.05);
  background-color: var(--bs-gray-200);
}

#query-builder .block.input-block {
  background-color: rgba(200, 0, 0, 0.2);
  background-color: var(--bs-gray-100);
}

@media (prefers-color-scheme: dark) {
  #query-builder .block.query {
    background-color: var(--bs-gray-900);
  }

  #query-builder .block.expression-wrap,
  #query-builder .block.query-simple {
    background-color: rgba(0, 155, 255, 0.05);
    background-color: var(--bs-gray-800);
  }

  #query-builder .block.input-block {
    background-color: rgba(200, 0, 0, 0.2);
    /* background-color: var(--bs-gray-900); */
  }
}

/* make dropdown look like select */

#query-builder .dropdown>.form-select {
  padding-right: 2.25rem;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color);
}

#query-builder .dropdown>.form-select::after {
  /* remove dropdown icon and use the one from .form-select */
  content: unset;
}