#search .search-query-input[contenteditable] {
  white-space-collapse: preserve-spaces;
}

/* content editable input for fancy syntax highlighting */
#search .search-query-input[contenteditable]:empty {
  padding-inline-start: calc(50% + 1rem - 3rem - 16px - 6ch);
}

#search .search-query-input[contenteditable][disabled] {
  /* .form-control:disabled */
  background-color: var(--bs-secondary-bg);
  opacity: 1;
  /* AND disable mouse, .pe-none */
  pointer-events: none;
}

#search .search-query-input[contenteditable][placeholder]+.input-placeholder-simulacrum {
  position: absolute;
  width: calc(100% - 2rem - 6ch);
  text-align: center;
  vertical-align: middle;
  pointer-events: none;

  line-height: 1.5;
  font-size: 1.25rem;
  padding: .5rem 1rem;

  /* .form-control::placeholder */
  color: var(--bs-secondary-color);
  opacity: 1;
}

/* *********************************************************************** */

#search .search-query-input[contenteditable]>pre {
  /* reset default styling (bootstrap/reboot...) */
  margin: unset;
  font-size: unset;
  /* cursor */
  height: 100%;
  /* font */
  font-family: var(--bs-body-font-family);
  font-weight: var(--bs-body-font-weight);
}

#search .search-query-input[contenteditable]>pre>code {
  /* allow wrapping */
  white-space: pre-wrap;
  word-break: break-word;
  /* unset */
  font-size: unset;
}

/* *********************************************************************** */

#search .search-query-input[contenteditable] code .token.operator {
  color: #28138e;
}

#search .search-query-input[contenteditable] code .token.string {
  color: #008702;
}