.logo {
  height: 10em;
  padding: 1.5em;
}

#fcs-query-filters button.btn {
  --bs-btn-border-radius: 0.75rem;
  --bs-btn-border-color: #212529ad;

  vertical-align: baseline;

  /* TODO: prettier style? */
  --color: #226c2259;
  border: none;
  border-radius: 0;
  border-bottom: 5px solid var(--color);
  padding-inline: .25rem !important;
}

#fcs-query-filters button.btn:hover {
  background-color: var(--color);
}

@media (prefers-color-scheme: dark) {
  #fcs-query-filters button.btn {
    color: var(--bs-body-color);
  }
}

#fcs-query-filters button.btn>i>svg.bi {
  vertical-align: top;
  height: unset;
  width: 0.7em;
}

#fcs-query-filters .dropdown-toggle.no-arrow::after {
  /* remove dropdown arrow key suffix */
  display: none;
}

/* *********************************************************************** */

/* *** ResourceSearchResult.tsx *** */

#search .resource-search-result>.card-header>small.text-muted::before {
  content: '–';
  padding-inline-start: 1ch;
  padding-inline-end: 1ch;
}

@media (prefers-color-scheme: dark) {
  #search .resource-search-result .badge.text-bg-light {
    /* basically .text-bg-dark */
    color: #fff !important;
    background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
  }
}

#search .resource-search-result>.card-body>table tr:last-of-type>td {
  border-bottom-width: 0;
}

/* *********************************************************************** */

/* *** ContentEditable.tsx *** */

#search .search-query-input[contenteditable] {
  white-space-collapse: preserve-spaces;
}

/* content editable input for fancy syntax highlighting */
#search .search-query-input[contenteditable]:empty {
  padding-inline-start: calc(50% + 1rem - 6ch);
}

#search .search-query-input[contenteditable][disabled] {
  /* .form-control:disabled */
  background-color: var(--bs-secondary-bg);
  opacity: 1;
  /* AND disable mouse, .pe-none */
  pointer-events: none;
}

#search .search-query-input[contenteditable][placeholder]+.input-placeholder-simulacrum {
  position: absolute;
  width: calc(100% - 2rem - 6ch);
  text-align: center;
  vertical-align: middle;
  pointer-events: none;

  line-height: 1.5;
  font-size: 1.25rem;
  padding: .5rem 1rem;

  /* .form-control::placeholder */
  color: var(--bs-secondary-color);
  opacity: 1;
}