.logo {
  height: 10em;
  padding: 1.5em;
}

#fcs-query-filters button.btn {
  --bs-btn-border-radius: 0.75rem;
  --bs-btn-border-color: #212529ad;

  vertical-align: baseline;

  /* TODO: prettier style? */
  --color: #226c2259;
  border: none;
  border-radius: 0;
  border-bottom: 5px solid var(--color);
  padding-inline: .25rem !important;
}

#fcs-query-filters button.btn:hover {
  background-color: var(--color);
}

@media (prefers-color-scheme: dark) {
  #fcs-query-filters button.btn {
    color: var(--bs-body-color);
  }
}

#fcs-query-filters button.btn>i>svg.bi {
  vertical-align: top;
  height: unset;
  width: 0.7em;
}

#fcs-query-filters .dropdown-toggle.no-arrow::after {
  /* remove dropdown arrow key suffix */
  display: none;
}

/* *********************************************************************** */

/* *** ResourceSearchResult.tsx *** */

#search .resource-search-result>.card-header small.text-muted::before {
  content: '–';
  padding-inline-start: 1ch;
  padding-inline-end: 1ch;
}

@media (prefers-color-scheme: dark) {
  #search .resource-search-result .badge.text-bg-light {
    /* basically .text-bg-dark */
    color: #fff !important;
    background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
  }
}

#search .resource-search-result .resource-info i>svg.bi,
#search .resource-search-result .more-results-button i>svg.bi {
  vertical-align: baseline;
  margin-bottom: -1px;

  height: unset;
  width: 0.9em;
}

#search .resource-search-result>.card-body table tr:last-child>td {
  border-bottom-width: 0;
}

#search .resource-search-result table tr>td.result-refs {
  white-space: nowrap;
}

@media (max-width: 576px) {
  /* sm-down breakpoint ? (https://getbootstrap.com/docs/5.3/layout/breakpoints/) */
  #search .resource-search-result table tr>td.result-refs {
    white-space: initial;
  }
}

#search .resource-search-result .pid-badge {
  --bs-badge-padding-x: 0.5em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-border-radius: 0.2rem;
  font-size: 0.6rem;
}

#search .resource-search-result .tooltip-mounting-point {
  /* a visible but too small to see element to avoid tooltip mounting flickering */
  height: 0;
  width: 0;
  pointer-events: none;
}

/* *********************************************************************** */